<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livros</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container-livros">
    <div class="box-form-livro">
        <h2>Cadastrar Livro</h2>

        <form th:action="@{/livros/cadastrar}" method="post" th:object="${livro}">
            <label>Título</label>
            <input type="text" th:field="*{titulo}" required>

            <label>Autor</label>
            <input type="text" th:field="*{autor}" required>

            <label>Data de Aquisição</label>
            <input type="date" th:field="*{dataAquisicao}" required>

            <label>Localização</label>
            <input type="text" th:field="*{localizacao}" placeholder="Ex: Estante A1" required>

            <label>Status</label>
            <select th:field="*{status}">
                <option value="Disponível">Disponível</option>
                <option value="Emprestado">Emprestado</option>
                <option value="Reservado">Reservado</option>
            </select>

            <button type="submit" class="btn-verde">Cadastrar Livro</button>
        </form>
    </div>

    <table class="tabela-livros">
        <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Data</th>
            <th>Localização</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livroItem : ${listaLivros}">
            <td th:text="${livroItem.titulo}"></td>
            <td th:text="${livroItem.autor}"></td>
            <td th:text="${livroItem.dataAquisicao}"></td>
            <td th:text="${livroItem.localizacao}"></td>
            <td th:text="${livroItem.status}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>